<!DOCTYPE html>
<html lang="es">
<head>
	<%= render "layouts/head" %>
</head>
<body>

	<!--Cabecera-->

	<!--Cabecera Intro-->

	<%= render  "layouts/menu" %>
		<!-- Empieza contenido din치mico -->

		
	<!-- Empieza Jumbotron -->
	<%= render  "layouts/cabecera" %>
	<!-- Termina Jumbotron -->
	
	<!-- Empieza contenido din치mico -->
	<%= render "layouts/dinamico" %>
	<!-- Termina contenido din치mico -->

	<%= render "layouts/estatico" %>
	
	<!-- Empieza contenido est치tico -->
	


		
		<!--Final contenedor -->

		<%if flash[:noticia]%>
	<div class="row">
		<div class="span10 offset2 alert">
			<button type="button" data-dismiss="alert" class="close">&times</button>
			<%flash[:noticia]%>
		</div>
	</div>
	<%end%>
</body>

</html>